@import url('https://fonts.cdnfonts.com/css/the-wild-breath-of-zelda');

body {
    text-align: center;
    font-family:'The Wild Breath of Zelda', sans-serif;
    background-image: url("./assets/arknight-lvl-simulator-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.glass {
    width: 35vw;
    height: 80vh;
    margin-left: 32.5vw;
    margin-top: 5vh;
    background: rgba(255, 255, 255, 0.25);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.1px);
    -webkit-backdrop-filter: blur(2.1px);
    border: 1px solid rgba(255, 255, 255, 0.59);
}

#sub {
    margin-bottom: 8%;
}

#star, #btn, #topTable {
    margin-bottom: 3%;
}

select, input {
    width: 25%;
}

#line {
    width: 80%;
    border-radius: 70px;
    background-color: linear-gradient(145deg, #110e29, #0e0c22);
    box-shadow:  36px 36px 71px #070610,
                 -36px -36px 71px #19143c;
}

#result {
    margin-top: 5%;
    margin-left: 15%;
    margin-bottom: 5%;
    width: 70%;

    padding: 1%;
    border-radius: 10px;
    background: linear-gradient(145deg, rgba(230,230,230,0.25), rgba(255, 255, 255, 0.25));
    box-shadow: inset 36px 36px 71px rgba(110, 110, 110, 0.25),
    inset -36px -36px 71px rgba(255, 255, 255, 0.25);
}

#result input{
    width: 40%;
}
